# Directories
.vs/
Binaries/
.idea/

# Files
*.vcxproj
*.vcxproj.user
*.vcxproj.filters
*.sln
*.log
Makefile

# Exclude
!Vendors/Binaries
/The Forge.sln.DotSettings.user
/Games/Project-Steel/Assets/Engine Assets
/Games/Project-Steel/imgui.ini
